<div class="breadcrumb">
	<span class="grey_cat"><%= link_to 'Главная страница', shop_index_path %></span>
	<span class="active_cat"><%= image_tag("active_arr.png") %><%= link_to 'Прайс', price_index_path %></span>
</div>