<%= render ('breadcrumb') %>
<div class="shadow">
<% @categories.each do |c| %>
	<p><%= c.name %></p>
	<% children = Category.find_all_by_parent_id(c.id)%>
	<% children.each do |ch| %>
		<p><%= ch.name %></p>
		<% if ch.products.count != 0 %>
			<% ch.products.each do |p| %>
				<p><%= p. id %>,<%= p.name %>,<%= p.price %>
				<% if p.hit != nil %>
				,<%= p.hit %>
				<% end %>
				<% if p.discount != nil %>
				,<%= p.discount %>
				<% end %>
				<% if p.rostest != nil %>
				,<%= p.rostest %>
				<% end %>
				<% if p.action != nil %>
				,<%= p.action %>
				<% end %>
				<% if p.new != nil %>
				,<%= p.new %>
				<% end %></p>
			<% end %>
		<% else %>
		В данной категории товаров нет.
		<% end %>
		
	<% end %>
<% end %>
</div>