<div class='shadow'>
<h2>Регистрация</h2>

<%= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%if devise_error_messages! != "" %>
    Исправьте ошибки для продолжения
  <%end%>
  <%= f.input :email, :required => false %><br/>

  <%= f.input :password, :required => false %><br/>

  <%= f.input :password_confirmation, :required => false %><br/>

  <div><%= f.commit_button %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
</div>
