<% @search_result.each do |r| %>
	<% count = 0 %>
	<% if @counter[r.id] != 0 %>
	<p><%= link_to r.name, search_find_path(:section => r.id, :q => params[:q]) %>
	(<%= @counter[r.id] %>)</p>
	<% count ||= 0 %>
    <% count += 1 %>
    <% end %>
<% end %>
<% @alter_search.each do |ar| %>
	<p><%= ar.name %></p>
<% end %>
<% count = 0 %>
<% if @search_result[count] == nil and @alter_search[count] == nil %>
<%= 'Ничего не нашел, извини. Попробуй еще раз с другим поисковым запросом.'%>
<% end %>
