<% @categories.each do |c| %>
	<p><%= c.name %></p>
	<% children = Category.find_all_by_parent_id(c.id)%>
	<% children.each do |ch| %>
		<p><%= ch.name %></p>
		<table>
			<th></th>
			<th>Имя</th>
			<th>Цена</th>
			<th>Хит</th>
			<th>Скидка</th>
			<th>Ростест</th>
			<th>Акция</th>
			<th>Новинка</th>
		<% ch.products.each do |p| %>
			<tr>
			<td><%= form_tag('/xls', :method => 'post') do %></td>
				<%= hidden_field_tag(:id, value=p.id) %>
			<td><%= text_field_tag(:name, value=p.name) %></td>
        	<td><%= text_field_tag(:price, value=p.price) %></td>
        	<td><%= check_box_tag(:hit, value='yes', checked=check(p.hit)) %></td>
        	<td><%= text_field_tag(:discount, value=p.discount) %></td>
        	<td><%= check_box_tag(:rostest, value='yes', checked=check(p.rostest)) %></td>
        	<td><%= check_box_tag(:active, value='yes', checked=check(p.action)) %></td>
        	<td><%= check_box_tag(:new, value='yes', checked=check(p.new)) %></td>
        	<td><%= submit_tag "Обновить" %></td>
        	</tr>
        	<% end %>
		<% end %>
		</table>
	<% end %>
<% end %>