<table class="sort_table">
<tr>
<td><span>Вид:</span></td>
<td><%= link_to image_tag("table_active.png"), shop_find_path(:q => params[:q], :view => 'table')%></td>
<td><%= link_to image_tag("list_active.png"), shop_find_path(:q => params[:q], :view => 'list')%></td>
<td><span>Сортировка:</span></td>
<%if params[:order_by] == 'price'%>
	<%if params[:desc_order_by] == 'DESC'%>
		<td><span style = "grey_cat"><%= link_to "В", shop_find_path(:q => params[:q], :order_by => 'price', :desc_order_by => 'ASC')%></span><span style = "active_cat"><%= link_to "по цене", shop_find_path(:q => params[:q], :order_by => 'price', :desc_order_by => 'ASC')%><%= link_to "Н", shop_find_path(:q => params[:q], :order_by => 'price', :desc_order_by => 'ASC')%></span></td>
	<%else%>
		<td><span style = "active_cat"><%= link_to "В", shop_find_path(:q => params[:q], :order_by => 'price', :desc_order_by => 'DESC')%><%= link_to "по цене", shop_find_path(:q => params[:q], :order_by => 'price', :desc_order_by => 'DESC')%></span><span style = "grey_cat"><%= link_to "Н", shop_find_path(:q => params[:q], :order_by => 'price', :desc_order_by => 'DESC')%></span></td>
	<%end%>
	<td style = "grey_cat"><%= link_to "В", shop_find_path(:q => params[:q], :order_by => 'name')%><%= link_to "по имени", shop_find_path(:q => params[:q], :order_by => 'name')%><%= link_to "Н", shop_find_path(:q => params[:q], :order_by => 'name')%></td>
<%else%>
	<td style = "grey_cat"><%= link_to "В", shop_find_path(:q => params[:q], :order_by => 'price')%><%= link_to "по цене", shop_find_path(:q => params[:q], :order_by => 'price')%><%= link_to "Н", shop_find_path(:q => params[:q], :order_by => 'price')%></td>
	<%if params[:desc_order_by] == 'DESC'%>
		<td><span style = "grey_cat"><%= link_to "В", shop_find_path(:q => params[:q], :order_by => 'name', :desc_order_by => 'ASC')%></span><span style = "active_cat"><%= link_to "по имени", shop_find_path(:q => params[:q], :order_by => 'name', :desc_order_by => 'ASC')%><%= link_to "Н", shop_find_path(:q => params[:q], :order_by => 'name', :desc_order_by => 'ASC')%></span></td>
	<%else%>
		<td><span style = "active_cat"><%= link_to "В", shop_find_path(:q => params[:q], :order_by => 'name', :desc_order_by => 'DESC')%><%= link_to "по имени", shop_find_path(:q => params[:q], :order_by => 'name', :desc_order_by => 'DESC')%></span><span style = "grey_cat"><%= link_to "Н", shop_find_path(:q => params[:q], :order_by => 'name', :desc_order_by => 'DESC')%></span></td>
	<%end%>
<%end%>
<td><span>Показывать по:</span></td>
<td>
<select>
<option value="<%= shop_find_path(:q => params[:q], :per_page => '5')%>">5</option>
<option value="<%= shop_find_path(:q => params[:q], :per_page => '10')%>">10</option>
<option value="<%= shop_find_path(:q => params[:q], :per_page => '25')%>">25</option>
<option value="<%= shop_find_path(:q => params[:q], :per_page => '50')%>">50</option>
</select></td>
</tr>
</table>