<%= render ('catalog_breadcrumb') %>
<div class="shadow">
<% main_categories.each do |cat| %>
	<% if cat.id != 47 %>
		<div class="category_show shadow first_bg ">
			<div class="category_name">
			<%=link_to cat.name+"("+cat.products.count.to_s+")", "#"%>
			</div>

			<%= image_tag "/images/category/"+cat.thumb_image %>
			<%=link_to shop_show_parent_cat_path(:id => cat.id) do%>
			<div class="second_bg shadow">	
      </div>
    <% end %>
		</div>
	<%end%>
<%end%>
<div class="empty_15"></div>
</div>
