<%= render ('find_part') %>
Результаты поиска:<br />
<% if params[:view]=='list' %>
 Список:<br />
<% if @search_result != nil %>
	<% @search_result.each do |r| %>
		<%= link_to r.name, shop_find_path(:section => r.id, :q => params[:q]) %>
	<% end %>
	<% @counter.each do |ct| %>
		(<%= ct %>)
	<% end %>
<% end %>
<% if @alter_search != nil %>
	<% @alter_search.each do |ar| %>
		<p><%= link_to ar.name, ar %>, Цена:
		<%= ar.price %>
		<%=link_to "купить", {:controller => 'carts', :action => 'add_product', :item_id => ar.id}, :method => :post %></p>
	<% end %>
<% end %>
<%= paginate @alter_search %>
<% count = 0 %>
<% if @search_result[count] == nil and @alter_search[count] == nil %>
<%= 'Ничего не нашел, извини. Попробуй еще раз с другим поисковым запросом.'%>
<% end %>
<% else %>
 Таблица:<br />
<% if @search_result != nil %>
	<% @search_result.each do |r| %>
		<%= link_to r.name, shop_find_path(:section => r.id, :q => params[:q]) %>
	<% end %>
	<% @counter.each do |ct| %>
		(<%= ct %>)
	<% end %>
<% end %>
<% if @alter_search != nil %>
	<% @alter_search.each do |ar| %>
		<p><%= link_to ar.name, ar %>, Цена:
		<%= ar.price %>
		<%=link_to "купить", {:controller => 'carts', :action => 'add_product', :item_id => ar.id}, :method => :post %></p>
	<% end %>
<% end %>
<%= paginate @alter_search %>
<% count = 0 %>
<% if @search_result[count] == nil and @alter_search[count] == nil %>
<%= 'Ничего не нашел, извини. Попробуй еще раз с другим поисковым запросом.'%>
<% end %>
<% end %>
