<div class="shadow">
  <div class="categoty_shop shadow">
    <% @cat_children.each do |cat_c| %>
      <div class="category_show shadow first_bg ">
        <div class="category_name">
          <%= link_to cat_c.name, '#'%>	
        </div>
        <%= image_tag "/images/category/"+cat_c.thumb_image%>
        <%= link_to :controller => 'shop', :action => 'show_cat', :id => cat_c.id do %>	
          <div class="second_bg shadow">	
          </div>
        <% end %>
      </div>

    <%end%>
    <div class="empty_15"></div>
  </div>
</div>	
