<div class="shadow">
  <%= render ('show_cat_part') %>
  <%if params[:view]=='list'%>
    Список:<br />
    <div>
      <% @cat_products.each do |p| %>
        <div class="list_view  shadow">
          <div>
            <%= image_tag "/images/shop/"+p.thumb_image, :width => '215'%>
          </div>
          <div>
            <%= link_to p.name, p %><br />
            <%=p.price%><br />
            <%=link_to "купить", {:controller => 'carts', :action => 'add_product', :item_id => p.id}, :method => :post %><br />
            <%=raw p.short_desc%>
          </div>
        </div>
      <%end%>
    </div>
  <%else%>
    <div >
      <% @cat_products.each do |p| %>
        <div class="table_view product_show shadow">
          <div class="product_name">
            <%= link_to p.name, "#" %>
          </div>

          <div>
            <%= image_tag "/images/shop/"+p.thumb_image, class: "table_view_img"%>
          </div>
          <div class="product_price">
            <span class="word_price">цена: </span><span><%=p.price%>руб.</span>
          </div>
          <%= link_to add_product_cart_path(:item_id => p.id), :method => :post do %>
            <div class="buy_product">
              Купить
            </div>
          <% end %>
          <%= link_to p do %>
            <div class="second_product shadow">
            </div>
          <% end %>
        </div>
      <%end%>
    </div>
  <%end%>
  <div class="empty_15"></div>
  <%= paginate @cat_products %>
</div>
