<%= render ('sitemap_breadcrumb') %>
<li><%= link_to get_page(1).name, get_page(1) %></li>
<li><%= link_to get_page(2).name, get_page(2) %></li>
<li><%= link_to get_page(3).name, price_index_path %></li>
<li><%= link_to get_page(4).name, get_page(4) %></li>
<li><%= link_to get_page(5).name, get_page(5) %></li>
<li><%= link_to get_page(7).name, get_page(7) %></li>
<% @categories.each do |c| %>
	<li><%= link_to c.name, shop_show_parent_cat_path(:id => c.id) %></li>
	<% children = Category.find_all_by_parent_id(c.id)%>
	<% children.each do |ch| %>
		<li><%= link_to ch.name, shop_show_cat_path(:id => ch.id) %></li>
	<% end %>
<% end %>
<li><%= link_to get_page(8).name, posts_path(:tag_id => '1') %></li>
<li><%= link_to get_page(9).name, posts_path %></li>
<li><%= link_to get_page(11).name, get_page(11) %></li>
<li><%= link_to get_page(12).name, profile_index_path %></li>