    <h1>Оформление заказа</h1>
	<%if user_signed_in?%>
	    <%= form_tag ('checkout_finish') do -%>
	
	    <p><%= label_tag 'Имя' %><br />
	    <%= text_field_tag 'name', current_user.name%></p>
	
	    <p><%= label_tag 'Телефон' %><br />
	    <%= text_field_tag 'phone', current_user.phone%></p>
	
	    <p><%= label_tag 'E-mail' %><br />
	    <%= text_field_tag 'email', current_user.email%></p>
	    <%addr = Address.find_all_by_user_id(current_user.id)%>
		
	    <%if addr.count > 1%>
	    	<%addr_array = Array.new%>
	    	<%addr.each do |ad|%>
	    		<%addr_array.push(ad.address)%>
	    	<%end%>
	    	<%addr_array.push("Другой..")%>
		    <p><%= label_tag 'Адрес доставки' %><br />
		    <%= select_tag(:address, options_for_select(addr_array)) %><p>	 
		    <p><%= label_tag 'Новый адрес доставки' %><br />
	    	<%= text_field_tag 'new_address', nil, :size => 75 %></p>	   
	    <%else%>	    
		    <p><%= label_tag 'Адрес доставки' %><br />
		    <%if addr.last != nil%>
		    	<%= text_field_tag 'new_address', addr.last.address, :size => 75 %></p>
		    <%else%>
		    	<%= text_field_tag 'new_address', nil, :size => 75 %></p>
		    <%end%>
		    <%= hidden_field_tag 'address', 'Другой..'%>
	    <%end%>

	    <p><%= label_tag 'Способ доставки' %><br/>
	    <%= radio_button_tag 'ship_method', 'C', :checked => true %>Доставка курьером<br />
	    <%= radio_button_tag 'ship_method', 'S' %>Самовывоз</p>
	
	    <p><%= submit_tag 'Подтвердить' %></p>
	    <% end -%>
	<%else%>
		<%= link_to 'Уже регистрировались?', new_user_session_path%>
	    <%= form_tag ('checkout_finish') do -%>
	
	    <p><%= label_tag 'Имя' %><br />
	    <%= text_field_tag 'name'%></p>
	
	    <p><%= label_tag 'Телефон' %><br />
	    <%= text_field_tag 'phone'%></p>
	
	    <p><%= label_tag 'E-mail' %><br />
	    <%= text_field_tag 'email'%></p>
	
	    <p><%= label_tag 'Адрес доставки' %><br />
	    <%= text_field_tag 'new_address', nil, :size => 75 %></p>
	    <%= hidden_field_tag 'address', 'Другой..'%>
	
	    <p><%= label_tag 'Способ доставки' %><br/>
	    <%= radio_button_tag 'ship_method', 'C', :checked => true %>Доставка курьером<br />
	    <%= radio_button_tag 'ship_method', 'S' %>Самовывоз</p>
	
	    <p><%= submit_tag 'Подтвердить' %></p>
	    <% end -%>
	<%end%>

