<div class="cart_page shadow">
<div class="word_cart">Корзина</div>
  
  <% if have_prods?  %>
    <% @total_price = 0 %>
    <%= form_for :cart, :url => (cart_path), :method => :put, :html => {:id => "cart-form"} do |f| %>

      <% @cart_order.orders_products.each do |prod| %>
        <div class="cart_product_block shadow">
          <div class="cart_product_pic">
            <%= link_to image_tag("/images/shop/"+prod.product.thumb_image, :border=>0), checkout_cart_path -%>
          </div>
          <div class="cart_product_name">
            <%= link_to prod.product.name, product_path(prod.product_id) -%>
          </div>
          <div class="cart_product_amount">
            <%= f.text_field prod.id, :value => prod.count, :size => 2, "price-value" => prod.price  -%>
          </div>
          <div class="cart_product_price">
            <%= pre_total = prod.price*prod.count %>руб
          </div>
          <div class="cart_product_delete">
            <%= link_to image_tag("delete.png", :border=>0), remove_product_cart_path(:id => prod.id), :method=>:post -%>
          </div>
          <%@total_price += pre_total%>
        </div>
      <% end %>

      <div class="score shadow">
        <span class="order_price">Стоимость заказа:</span><span class="amount_price"><%= @total_price %>руб<span>
          <% end %>
        </div>
        <div class="cart_buttons">
          <div class="continue_shopping buttons">
            <%= link_to 'Продолжить покупки', shop_index_path -%>
          </div>
          <div class="order_button buttons">
            <%= link_to 'Оформить заказ', checkout_cart_path -%>
          </div>
        </div>
      <%else%>
        <div class="notice_inform">Ваша корзина пуста</div>
      <%end%>
    </div>
