<div class="shadow">
<h2>Авторизация</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label "Пароль" %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label "Запомнить меня?" %></div>
  <% end -%>

  <div><%= f.submit "Войти" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
</div>
