<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Здравствуйте, <%= @user.name %></h1>
    <p>
    Вы сделали заказ на мега пластинках.<br />
    Так как Вы сделали заказ впервые, мы зарегистрировали для Вас нового пользователя:<br />
    Ваш логин: <%= @user.email %><br />
    Ваш пароль: <%= @password %><br />
    </p>
    <p>
      Чтобы зайти на сайт, просто проследуйте по ссылке: <%= link_to "log in", "http://127.0.0.1/"%>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
