.clear {
  clear: both;
}

#top-nav {
    float:left;
    list-style:none;
    margin: 0;
    padding: 0;
    font-size:14px;
    font-weight:600;
    width: 1000px;
      li{
        float: left;
        display: block;
        width: 165px !important;
        position: relative;
        z-index: 500;
        margin:0 1px 0 0;
        text-align: center;
        display:block;
        width:120px;
        a{
          display: block;
          padding: 3px 5px 0 5px;
          text-decoration: none;
          color: #333333;
          }
        a:hover{
          color: blue;
          }
        }
        
      ul{
          list-style:none;
          position:absolute;
          left:-9999px; /* Скрываем за экраном, когда не нужно (данный метод лучше, чем display:none;) */
          opacity:0; /* Устанавливаем начальное состояние прозрачности */
          -webkit-transition:0.25s linear opacity; /* В Webkit выпадающие пункты будут проявляться */
          li{
            float:none;
            width: 100px;
            }
          li:hover {
            background-color: blue;
          }
          a{
            display:block;
          }
        }
      li:hover ul{ /* Выводим выпадающий пункт при наведении курсора */
        left:0; /* Приносим его обратно на экран, когда нужно */
        opacity:1; /* Делаем непрозрачным */
        }
      li:hover a{ /* Устанавливаем стили для верхнего уровня, когда выводится выпадающий список */  
        background:rgba(255,255,255,0.90); /* Выглядит полупрозрачным */
        }
      li:hover ul a{ /* Изменяем некоторые стили верхнего уровня при выводе выпадающего пункта */
        text-decoration:none;
        -webkit-transition:-webkit-transform 0.075s linear;
        }
}

.current_top_nav{
  padding-top: 3px;
  color: blue;
}
