$white: #ffffff;
$grey_menu: #5f6060;
$blue: #016cd1;
$main_menu: #6a6a6a;
$black: #000000;
$white: #ffffff;
$border: #d3d3d3;

.add_borders {
  border-radius:8px;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
}
#footer{
  margin-top: 15px;
  margin-bottom: 10px;
  .footer_block{

    float: left;
    height: 165px;
  }
  .footer_left{
    width: 335px;
  }
  .footer_center{
    text-align: center;
    text-transform: uppercase;
    margin-left: 15px;
    width: 370px;
    table {
      padding: 0;
      margin: 0;
      margin-left: 97px;
      tr td{
        padding: 0;
        background: none!important;
      }
      tr:nth-child(even) {
        background: none!important;
      }
    }
    .address {
      text-align: left;
      margin-left: 97px;
      text-transform: none;
    }
  }
  .footer_right{
    margin-left: 15px;
    width: 265px;
    text-align: center;
    text-transform: uppercase;
  }
  .footer_logo{
    width: 235px;
    margin: 20px 0px 15px 15px;

  }
  .top_menu{
    margin-top: 15px;
  }
  .blue{
    margin-top: 15px;
    font-size: 12px;
    height: 26px;
    padding: 7px 0px 0px 11px;
    color: $white;
    background-color: $blue;
  }
}
