$white: #ffffff;
$grey_menu: #5f6060;
$blue: #016cd1;
$main_menu: #6a6a6a;
$black: #000000;
$white: #ffffff;
$border: #d3d3d3;

@font-face {
	font-family: 'Conv_arial_narrow-bold-reg';
	src: url('fonts/arial_narrow-bold-reg.eot');
	src: local('☺'), url('fonts/arial_narrow-bold-reg.woff') format('woff'), url('fonts/arial_narrow-bold-reg.ttf') format('truetype'), url('fonts/arial_narrow-bold-reg.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_CANDARAB_0';
	src: url('fonts/CANDARAB_0.eot');
	src: local('☺'), url('fonts/CANDARAB_0.woff') format('woff'), url('fonts/CANDARAB_0.ttf') format('truetype'), url('fonts/CANDARAB_0.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_CANDARA_0';
	src: url('fonts/CANDARA_0.eot');
	src: local('☺'), url('fonts/CANDARA_0.woff') format('woff'), url('fonts/CANDARA_0.ttf') format('truetype'), url('fonts/CANDARA_0.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_arial_narrow-reg';
	src: url('fonts/arial_narrow-reg.eot');
	src: local('☺'), url('fonts/arial_narrow-reg.woff') format('woff'), url('fonts/arial_narrow-reg.ttf') format('truetype'), url('fonts/arial_narrow-reg.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_tahoma_reg';
	src: url('fonts/tahoma_reg.eot');
	src: local('☺'), url('fonts/tahoma_reg.woff') format('woff'), url('fonts/tahoma_reg.ttf') format('truetype'), url('fonts/tahoma_reg.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_tahoma_bold';
	src: url('fonts/tahoma_bold.eot');
	src: local('☺'), url('fonts/tahoma_bold.woff') format('woff'), url('fonts/tahoma_bold.ttf') format('truetype'), url('fonts/tahoma_bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'calibri';
	src: url('fonts/CALIBRI_0.ttf');
	src: local('☺'), url('fonts/CALIBRI_0.otf') format('opentype'), url('fonts/CALIBRI_0.svg') format('svg'),  url('fonts/CALIBRI_0.dfont') format('dfont');
	font-weight: normal;
	font-style: normal;
}

html,body{
	background: #fdfdfd;
	font-size:5px;
	margin:0;
	padding:0;
}

.shadow {
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-moz-box-shadow: 0 1px 6px rgba(0,0,0,0.43); /* Для Firefox */
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.43); /* Для Safari и Chrome */
    box-shadow: 0 1px 6px rgba(0,0,0,0.43); /* Параметры тени */
}

.buttons{
	height: 30px;
	background: $blue;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	text-align:center;
	font-weight: 600;
	line-height: 30px;
	vertical-align: middle;
	a{
		color: $white;
		font-size: 14px;
	&:hover {
		text-decoration: underline;
		}
	}
}

.invisible{
	visibility: hidden;
}

.table_view_img {
  width: 182px;
  height: 114px;
}
.menu_gradient{
	/* fallback */
  background-color: #3d3d3d;
  background: url(menu_bg.jpg);
  background-repeat: repeat-x;
  
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8c8c8c), to(#3d3d3d));
  
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #8c8c8c, #3d3d3d);
  
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #8c8c8c, #3d3d3d);
  
  /* IE 10 */
  background: -ms-linear-gradient(top, #8c8c8c, #3d3d3d);
  
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #8c8c8c, #3d3d3d);
}

.form_gradient{
	background-color: #f0f0f0;
  background-repeat: repeat-x;
  
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#f0f0f0));
  
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #ffffff, #f0f0f0);
  
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #ffffff, #f0f0f0);
  
  /* IE 10 */
  background: -ms-linear-gradient(top, #ffffff, #f0f0f0);
  
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #ffffff, #f0f0f0);
}

.container {
	position:relative;
  	min-height: 100%;
  	height: auto !important;
  	height: 100%;
}

.content{
	width: 1000px;
	margin:0 auto;
}

.header{
	width: 1000px;
	height:270px;
}

.top_menu{
	position:relative;
	margin-top:5px;
	height: 26px;
	width: 100%;
	font-size:13px !important;
	font-family: Tahoma, Arial, sans-serif;
	text-transform:uppercase;
	text-decoration:none;
	ul{ 
		text-align: justify;
	    overflow: hidden; /* нужно чтобы обрезать разные побочные эффекты приема */
	    height: 20px; /* нужна чтобы устранить один побочный эффект, но иногда можно обойтись без нее */    
	    margin: 0px 100px 0 100px;
	    padding: 5px;
	    text-decoration:none;
	 }
	li{
		display: inline; /* чтобы пункты меню выступали в роли текста */
		a{	
			text-decoration:none;
			display: inline-block; /* чтобы не разрывались слова в пунктах меню */
    		color: $grey_menu;		
		}
		a:hover{
			color: $grey_menu;
			text-decoration:underline;
		}
	 }
	 ul:after { /* эмуляция дополнительной строки, чтобы сработал justify */
	    content: "1";
	    margin-left: 100%;
	    height: 1px;
	    overflow: hidden;
	    display: inline-block;
	}

}

.top_blocks {
	margin-top:10px;
	width:1000px;
	height:155px;
}

.left_top{
	position:relative;
	float:left;
	width: 375px;
	height:155px;
}

.center_top{
	position:relative;
	float:left;
	margin-left:15px;
	width: 410px;
	height:155px;
}

.right_top{
	position:relative;
	float:left;
	margin-left:15px;
	width: 185px;
	height:155px;
}

.left_top_content {
	width:375px;	
	font-size: 12px; 
	font-family: Tahoma;
	color: $blue;
}

table{
	border:none;
	background:none;
}

.phone_number {
	width:375px;
	height:45px;
	float:left;
	border:none;
	background:none;
	margin-top: 15px;
	
}

.phone_cod{
	width: 40px;
	height:45px;
	line-height:21px;
	font-size: 20px;
	float: left;
	border: none;
	background: none;
	margin: 0px 0px 0px 25px;
}

.phone{
	float: left;
	width:310px;
	font-size:56px;
	font-weight:600;
	height:45px;
	margin: 13px 0px 0px 0px;
	text-align:center;
	
}

.work_time{
	float:left;
	width:375px;
	height:58px;
	color: $black;
	font-weight: 500;
	margin-top: 16px;
	margin-left:80px;
	line-height: 20px;
	font-size: 14px;
}

.logo{
	width: 410px;
	height: 100px;
	margin: 20px 0px 0px 70px;
}

.logo_inform{
	width: 410px;
	color: $blue;
	margin: 0px 0px 0px 54px ;
	a{
		color: $blue !important;
		text-transform:uppercase;
		font-family: 'Conv_CANDARA_0';
		font-weight: bold;
	}
	a:hover{
		color: $blue;
		text-decoration: underline;
		text-transform:uppercase;
		font-family: 'Conv_CANDARA_0';
	}
}

.cart_pic{
	width: 185px;
	height: 94px;
	margin: 0px 0px 0px 30px;
	img{
		padding-top:6px;
	}
}

.quantity_of_goods{
	width: 185px;
	border-top: 2px;
	border-style: solid;
	border-color: $border;
	color: $black;
	text-align:center;
	a{
		color: $black;
	}
}

.amount{
	width: 185px;
	border-top: 2px;
	border-style: solid;
	border-color: $border;
	color: $black;
	text-align:center;
}

.to_order{
	width: 185px;
	height: 20px;
	border-top: 2px;
	border-style: solid;
	border-color: $border;
	color: $white;
	font-weight:bold;
	text-transform:uppercase;
	text-align:center;
	background: $blue;
	border-bottom-left-radius: 8px;
	-moz-border-bottom-left-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	-moz-border-bottom-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	a{	
		color: $white !important;
	}
	a:hover {
		color: $white;
		text-decoration: underline;
	}
}


.navigation{
	margin-top:10px;
	width:1000px;
	height:34px;
	
}

.current span{
	color: white;
    	text-decoration: underline;
    	/* fallback */
  background-color: #444444;
  background-position: center center;
  background-repeat: no-repeat;
  
  /* Safari 4-5, Chrome 1-9 */
  /* Can't specify a percentage size? Laaaaaame. */
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(#444444), to(#272727));
  
  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-radial-gradient(circle, #444444, #272727);
  
  /* Firefox 3.6+ */ 
  background: -moz-radial-gradient(circle, #444444, #272727);
  
  /* IE 10 */ 
  background: -ms-radial-gradient(circle, #444444, #272727);
  
  /* Opera cannot do radial gradients yet */
}

.navigation_menu{
	margin: 0;
	padding: 0;
	float: left;
	font: bold 13px Tahoma;
	width: 1000px;
	overflow: hidden;
	margin-bottom:5px;
	border-width: 1px 0;
	height: 34px;
    li{
    	display: inline;
    	height: 34px;
    a, span{
    	font-size: 12px;
    	float: left;
	color: white;
	padding: 9px 9px;
	text-decoration: none;
	text-shadow:1px 1px 1px rgba(0,0,0,0.75); /* Тень текста, чтобы приподнять его на немного */
	width: 119px;
	border-right: 1px solid $grey_menu;
	text-align: center;
    &:hover {
    	color: white;
    	text-decoration: underline;
    	/* fallback */
  background-color: #444444;
  background-position: center center;
  background-repeat: no-repeat;
  
  /* Safari 4-5, Chrome 1-9 */
  /* Can't specify a percentage size? Laaaaaame. */
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(#444444), to(#272727));
  
  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-radial-gradient(circle, #444444, #272727);
  
  /* Firefox 3.6+ */ 
  background: -moz-radial-gradient(circle, #444444, #272727);
  
  /* IE 10 */ 
  background: -ms-radial-gradient(circle, #444444, #272727);
  
  /* Opera cannot do radial gradients yet */
    }
	}
	}
	li.active a{
		background-color: #444444;
  background-position: center center;
  background-repeat: no-repeat;
  
  /* Safari 4-5, Chrome 1-9 */
  /* Can't specify a percentage size? Laaaaaame. */
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(#444444), to(#272727));
  
  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-radial-gradient(circle, #444444, #272727);
  
  /* Firefox 3.6+ */ 
  background: -moz-radial-gradient(circle, #444444, #272727);
  
  /* IE 10 */ 
  background: -ms-radial-gradient(circle, #444444, #272727);
	}
}

.search_form{
	input{
		padding:0;
		margin:0;
		width: 250px;
		border: none;
		border-radius: 8px;
		-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
		padding:2px;
		margin-top: 7px;
		margin-left: 25px;
	}
} 


.footer {
	position:relative;
	width:1000px;
	height:450px;
}

.bottom_blocks{
	width:1000px;
	height:155px;	
}

.left_bot {
	position:relative;
	float:left;
	width:335px;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.43); /* Для Firefox */
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.43); /* Для Safari и Chrome */
    box-shadow: 0 1px 4px rgba(0,0,0,0.43); /* Параметры тени */
}

.center_bot {
	position:relative;
	float:left;
	width:370px;
	margin-left:15px;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.43); /* Для Firefox */
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.43); /* Для Safari и Chrome */
    box-shadow: 0 1px 4px rgba(0,0,0,0.43); /* Параметры тени */
}

.right_bot {
	position:relative;
	float:left;
	width:265px;
	margin-left:15px;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.43); /* Для Firefox */
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.43); /* Для Safari и Chrome */
    box-shadow: 0 1px 4px rgba(0,0,0,0.43); /* Параметры тени */
}

.cart_page{
	position:relative;
	width:1000px;
    span{
    	color: $blue;
    	font-size: 14px;
    	font-weight: bold;
    	margin-left: 25px;
    }
    form{
    	margin: 0 0 18px 0 !important;
    }
}

.word_cart{
	color: $blue;
    	font-size: 14px;
    	font-weight: bold;
    	margin-left: 25px;
    	padding-top: 15px;
}

.cart_product_block{
	width:960px;
	height:120px;
	margin-left: 20px;
	margin-top:15px;
}

.cart_product_pic{
	float:left;
	width: 185px;
	height:120px;
	margin-left: 10px;
	a{	
		line-height: 120px;
		img{
			width: 165px;
			height: 100px;
			vertical-align: middle;
		}
	}
}

.cart_product_name{
	float:left;
	width: 250px;
	height:120px;
	margin-left: 10px;
	a{	
		display: table-cell;
		vertical-align: middle;
		color: $grey_menu;
		height:120px;
	&:hover{
		text-decoration: underl;
	}
	}
	
}

.hidden{
	visibility: hidden;
}

.cart_product_amount{
	float:left;
	width: 140px;
	height:120px;
	margin-left: 10px;
	line-height: 120px;
	input{
		border: none;
		border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-moz-box-shadow: 0 1px 6px rgba(0,0,0,0.43); /* Для Firefox */
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.43); /* Для Safari и Chrome */
    box-shadow: 0 1px 6px rgba(0,0,0,0.43); /* Параметры тени */
	}
}


.cart_product_price{
	float:left;
	width: 190px;
	height:120px;
	margin-left: 10px;
	line-height: 120px;
	color: $blue;
	font-weight: 600;
}

.order_price{
	float:left;
	width: 205px;
	margin-left: 200px !important; 
	font-weight: 600;
	color: $grey_menu !important;
	text-align: center;
}

.amount_price{
	margin-left: 150px !important;
	float:left;
	width: 205px;
	font-weight: 600;
	color: $blue !important;
}

.cart_product_delete{
	float:left;
	width: 145px;
	height:120px;
	margin-left: 10px;
	a{	
		display: table-cell;
		vertical-align: middle;
		color: $grey_menu;
		height:120px;
		
	}
	
}

.score{
	width:960px;
	height: 40px;
	margin-left: 20px;
	margin-top: 15px;
	text-align: center;
	line-height: 40px;
	vertical-align: middle;
}

.notice_inform{
	width:1000px;
	height: 40px;
	text-align: center;
	font-size: 16px;
	font-weight: 600;
}

.cart_buttons{
	width: 1000px;
	height: 45px;
}


.continue_shopping{
	float:left;
	width: 205px;
	margin-left: 22%;

}

.order_button{
	margin-left: 150px;
	float:left;
	width: 205px;
}

.breadcrumb{
	font-size: 14px;
	font-weight: bold;
	color: $grey_menu;
	margin-left:25px;
	padding-top: 15px;
}

.grey_cat{
	a{
		color: $grey_menu;
	}
}

.active_cat{
	color: $blue;
}

.categoty_shop{
	width: 1000px;
}

.category_show{
	display: inline-block;
	width: 178px;
	height: 152px;
	margin-top: 15px;
	margin-left: 12px;
	text-align: center;
	font-weight: bold;
	a{
		color: $grey_menu;
	}
	&:hover{
		background: $white;	
		a{
			color: $blue;
			
		}
	}
	&:active{
		background: $white;
		a{
			color: $blue;
		}
	}
}

.first_bg{
	width: 182px;
	height: 152px;
	img{
		
		wight:165px !important;
		height: 100px !important;
	}
	&:hover{
		background: $white;
	}
}

.category_name{
	width: 182px;
	height:38px;
	text-align:center;
	display: table-cell;
	vertical-align:middle;	
}

.second_bg{
	width: 182px;
	height: 152px;
	position: absolute;
    margin-top: -142px;
    background-image: linear-gradient(bottom, rgba(0,0,0, 0.1) 0%, rgba(200,200,200, 0.1) 41%);
background-image: -o-linear-gradient(bottom, rgba(0,0,0, 0.1) 0%, rgba(200,200,200, 0.1) 41%);
background-image: -moz-linear-gradient(bottom, rgba(0,0,0, 0.1) 0%, rgba(200,200,200, 0.1) 41%);
background-image: -webkit-linear-gradient(bottom, rgba(0,0,0, 0.1) 0%, rgba(200,200,200, 0.1) 41%);
background-image: -ms-linear-gradient(bottom, rgba(0,0,0, 0.1) 0%, rgba(200,200,200, 0.1) 41%);
background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgba(0,0,0, 0.1)),
    color-stop(0.41, rgba(200,200,200, 0.1))
);
	&:hover{
		background: none;
	}
}

.empty_15{
	height: 15px;
}

.blog_blocks{
	width: 1000px;
}

.blog_post_block{
	width:960px;
	margin: 0 auto;
	margin-top: 15px;
	&:hover{
		background: $white;
	}
}

.post_title{
	width: 930px;
	
	padding-top: 15px;
	font-size: 18px;
	font-weight: bold;
	color: $grey_menu;
	a{
	margin-left: 15px;
	padding-top: 15px;
	font-size: 18px;
	font-weight: bold;
	color: $grey_menu;
	&:hover{
		text-decoration: underline;
	}
	}
}

.post_date{	
	width: 930px;
	font-size: 10px;
	margin-left: 15px;
	
}

.post_body{
	margin: 15px 15px;
	text-align: justify;
}

.post_tags{
	width: 930px;
	padding-bottom: 15px;
	margin-left: 15px;
	color: $grey_menu;
	font-weight: 600;
	a{
		color: $grey_menu;
	&:hover{
		color: $blue;
		text-decoration: underline;
	}
	}
	
}

.post_comments{
	width: 930px;
	margin-left: 15px;
	padding-bottom: 15px;
}

.show_post_block{
	width: 1000px;
}

.show_post{
	width: 960px;
	margin: 0 auto;
	margin-top: 15px;
}

.comment_block{
	width: 960px;
	margin: 0 auto;
	margin-top: 15px;
}

.add_comment{
	margin-left: 15px;
	padding-top: 15px;
	font-size: 16px;
	font-weight: 600;
	color: $grey_menu;
}

#comment_name_input{
	list-style: none;
	input{
		
	}
}

#comment_body_input{
	list-style: none;
}

#comment_body{
	width: 370px;
	height: 200px;
}

.table_view{
	margin-top: 15px;
	height: 185px;
}

.list_view{
	width: 960px;
	margin: 0 auto;
	margin-top: 15px;
}

.sort_table{
	margin:0 !important;
	padding: 0;
	height: 30px;
	tr{
		td{
			text-align: center;	
			vertical-align: middle;
			span{
				font-weight: bold;
				color: $grey_menu;
			}
		}
	}
}

.product_show{
	display: inline-block;
	width: 182px;
	height: 194px;
	margin-top: 15px;
	margin-left: 12px;
	text-align: center;
	font-weight: bold;
	a{
		color: $grey_menu;
	}
	&:hover{
		background: $white;	
		a{
			color: $blue;
			
		}
	}
	&:active{
		background: $white;
		a{
			color: $blue;
		}
	}
}

.second_product{
	width: 182px;
	height: 196px;
  z-index: 50;
	position: absolute;
    margin-top: -175px;
    background-image: linear-gradient(bottom, rgba(0,0,0, 0.1) 0%, rgba(200,200,200, 0.1) 41%);
background-image: -o-linear-gradient(bottom, rgba(0,0,0, 0.1) 0%, rgba(200,200,200, 0.1) 41%);
background-image: -moz-linear-gradient(bottom, rgba(0,0,0, 0.1) 0%, rgba(200,200,200, 0.1) 41%);
background-image: -webkit-linear-gradient(bottom, rgba(0,0,0, 0.1) 0%, rgba(200,200,200, 0.1) 41%);
background-image: -ms-linear-gradient(bottom, rgba(0,0,0, 0.1) 0%, rgba(200,200,200, 0.1) 41%);
background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgba(0,0,0, 0.1)),
    color-stop(0.41, rgba(200,200,200, 0.1))
);
	&:hover{
		background: none;
	}
}

.buy_product{
  position: absolute;
  width: 182px;
  z-index: 100;
	background: $blue;
	height: 22px;
	border-color: $border;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
		font-size: 18px;
		font-weight: bold;
		font-family: Calibri;
		color: $white !important;
		&:hover{
			text-decoration: underline;
		}
}

.product_price{
	border-top: 2px;
	border-bottom: 2px;
	border-style: solid;
	border-color: $border;
	span{
		color: $blue;
	}
}

.product_name{
	width: 178px;
	margin:0 auto;
	height:38px;
	text-align:center;
	display: table-cell;
	vertical-align:middle;	
}

.word_price{
	color: $grey_menu !important;
}

.profil_table{
	margin-top: 25px;
	margin-left: 15px;
}

.table_name {
	font-size: 14px;
	font-weight: bold;
	color: $grey_menu;
}

.table_text{
		
}

.margin_block{
	margin-left: 25px;
	margin-top: 15px;
}

.profil_name{
	color: $grey_menu;
	font-weight: bold;
}

.profil_text{
	margin-top: 5px;
	a{
		color: $blue;
		&:hover{
			text-decoration: underline;
		}
	}
}

.blue_buttons{
	background: $blue;
	color: $white;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border: none;
	padding: 5px 10px;
	font-size: 12px;
	font-weight: bold;
	&:hover{
		text-decoration: underline;
	}	
}
