<% if @category[0].products.count <= 1 %>
<% else %>
<p>Похожие</p>
<% @category.each do |cat| %>
	<% cat.products.each do |p| %>
		<% if p != @product %>
		<p><%= link_to p.name, p %></p>
		<% end %>
	<% end %>
<% end %>
<% end %>