<h1>Products#show <%= @product.name %></h1>
<%=link_to "купить", {:controller => 'carts', :action => 'add_product', :item_id => @product.id}, :method => :post %>
<%desc = @product.desc.gsub('\r\n','')%>
<%desc.gsub!('img/','/img/')%>
<p><%=raw desc %></p>
