		<%= form_tag ('/profile/update') do -%>
		<div class="profil_name">
			Ваше имя:
		</div>
		<div class="profil_text">
			<%= text_field_tag(:name, value = current_user.name) %>
		</div>
		<div class="profil_name">
			Ваш телефон:
		</div>
		<div class="profil_text">
			<%= text_field_tag(:phone, value = current_user.phone) %>
		</div>
		<div class="profil_name">
			Ваш e-mail:
		</div>
		<div class="profil_text">
			<%= text_field_tag(:email, value = current_user.email) %>
		</div>
		<div class="profil_name">
			
		</div>
		<div class="profil_text">
			<%= submit_tag 'Сохранить', :class=>"blue_buttons" %>
		</div>
	<% end -%>