<h1>Редактировать адресс</h1>
<% if @addrs.user_id == current_user.id %>
<%= form_tag ('/profile/addrs_update') do -%>
	<p><%= label_tag 'Адрес доставки' %><br />
	<%= hidden_field_tag(:address_id, value=@addrs.id) %>
	<%= text_area_tag(:address, value=@addrs.address, option={:rows => 10, :cols => 25}) %></p>
	<p><%= submit_tag 'Добавить' %></p>
<% end %>
<% else %>
<h1>STOP DOING WHAT YOU ARE DOING</h1>
<% end %>
<%= link_to '[Назад]', ('/profile/index') %>
