    <h1>Ваши данные</h1>
	    <%= form_tag ('/profile/update') do -%>
	
	    <p><%= label_tag 'Имя' %><br />
	    <%= text_field_tag(:name, value = current_user.name) %></p>
	
	    <p><%= label_tag 'Телефон' %><br />
	    <%= text_field_tag(:phone, value = current_user.phone) %></p>
	
	    <p><%= label_tag 'E-mail' %><br />
	    <%= text_field_tag(:email, value = current_user.email) %></p>
	    <p><%= submit_tag 'Подтвердить' %></p>
	    <% end -%>
	    
<%= link_to '[Назад]', ('/profile/index') %>
