<div class="shadow">
<div class="word_cart">Личный кабинет</div>
<div class="margin_block">
<%= render ('edit') %>

<div class="profil_name">Адреса доставки:</div>
<div class="profil_text"><%= link_to '[Добавить новый адрес доставки]', ('new_addrs') %></div>
<% if @addrs[0] != nil %>
	<% @addrs.each do |a| %>
	<div class="profil_text">
		<%= a.address %> <%= link_to '[Редактировать адрес]', profile_edit_addrs_path(:id => a.id) %></p>
	<% end %>
<% end %>


<div class="profil_name">Ваши заказы:</div>
<div class="profil_text"><%= link_to "[Перейти на страницу заказов]", "/"%></div>
<% @user_orders.each do |o| %>
<div class="profil_text">
	Заказ №<%= o.id %> <%= link_to '[Посмореть]', profile_show_order_path(:id => o.id) %>
<% end %>
</div>
<%= paginate @user_orders %>
<div class="empty_15"></div>
</div>
</div>
