<h1>Добавить новый адресс</h1>
<%= form_tag ('/profile/new_addrs_add') do -%>
	<p><%= label_tag 'Адрес доставки' %><br />
	<%= text_area_tag 'address', nil, :rows => 10, :cols => 25 %></p>
	<p><%= submit_tag 'Добавить' %></p>
<% end %>
<%= link_to '[Назад]', ('/profile/index') %>
