<div class="cart_page shadow">
<span>Заказ №<%= @order.id %></span>
	    <% @order.orders_products.each do |prod| %>
	<div class="cart_product_block shadow">
		<div class="cart_product_pic">
		<%= image_tag("phone.jpg", :border=>0) -%>
		</div>
		<div class="cart_product_name">
		<%= link_to prod.product.name, product_path(prod.product_id) -%>
		</div>
		<div class="cart_product_amount">
		<%= prod.count -%>
		</div>
		<div class="cart_product_price">
		<%= pre_total = prod.price*prod.count %>руб
		</div>
		<%@total_price += pre_total%>
		</div>
	    <% end %>
	</div>
	<div class="score shadow">
	<span class="order_price">Стоимость заказа:</span><span class="amount_price"><%= @total_price %>руб<span>
	</div>
	<%= link_to '[Назад]', ('/profile/index') %>
</div>
