<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<!--[if IE]><%= stylesheet_link_tag "ie.css" %><![endif]-->
<head>
	<meta charset="utf-8" />
	
	<!-- Uncomment to make IE8 render like IE7 -->
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->
	
	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<% if @product != nil%>
	<% description @product.metadesc %>
	<% keywords @product.metatags %>
	<% end %>
	
	<title><%= content_for?(:title) ? yield(:title) : "GBstore" %></title>
  
	<!-- Included CSS Files -->
	<%= stylesheet_link_tag    "application" %>
	
	<!-- Included JS Files  -->
	<%= javascript_include_tag "application" %>
  	
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
  	<div class="content">
  	<%= render "/shared/header"%>
    <%= flash[:notice] %>
    <%= flash[:alert] %>
    <%= yield %>
    <%= render "/shared/footer"%>
  	</div>
  </div>
</body>
</html>
